body {
	font-family: "ff-tisa-sans-web-pro", sans-serif;
	letter-spacing: .025em;
}

.small {
	font-size: .9em;
}

.meta-description {
	//font-style: italic;
}


h1 {
	margin-top:0;
}

h2 {
	margin-top:0;
}

h3 {
	margin-top:0;
}

h4 {
	margin-top:0;
}

h5 {
	margin-top:0;
}

h6 {
	margin-top:0;
}

p {
	margin-top:0;	
}